@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!-- Views/Home/Index.cshtml -->



<h2>Transaction List</h2>

<table class="table">
    <thead>
        <tr>
        <tr>
            <th>Transaction Date</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Balance</th>
        </tr>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in @htmlDataTest.Controllers.Config.transactionModels)
{
    <tr>
        <td>@transaction.Transaction_date</td>
        <td>@transaction.Description</td>
        <td>£@transaction.Amount</td>
        <td>£@transaction.Balance</td>
    </tr>
}
    </tbody>
</table>
