<h1>Update Customer</h1>
<div class="form-group">
    <label>Customer ID</label>
    <input type="text" id="reason" class="form-control" placeholder="Enter Customer ID">
</div>
<partial name="~/Views/Template/Registrationform.cshtml" />
<p></p>
<button class="btn btn-primary" type="submit">Update Customer</button>