@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Change Password</h1>

<div class="login-container">
    <h2>Login</h2>
    <form action="/Account/ManageProfilePage" method="post">

        <label for="password">Previous Password:</label>
            <input class="form-control" type="password" id="password" name="userPassword" required>

        <p></p>
        <label for="password">New Password:</label>
        <input type="password" class="form-control" id="password" name="userPassword" required>
        <p></p>
        <label for="password">Confirm New Password:</label>
        <input type="password" class="form-control" id="password" name="userPassword" required>
        <p></p>
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
</div>