@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}@{
    ViewData["Title"] = "Customer Registration Page";
}

<h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Customer Register Page</h1>

<div class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
<partial name="~/Views/Template/RegistrationForm.cshtml" />
</div>


