@{
    ViewData["Title"] = "Customer Login Page";
}
@*
<h1>Customer Login Page</h1>
<div class="login-container">
    <h2>Login</h2>
    <form action="/Account/Submit" method="post">
        <label for="email">Email:</label>
        <input type="text" id="email" name="userEmail" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="userPassword" required>

        <input type="submit" class="btn btn-primary" value="Login">
    </form>
</div>
*@

<div class="row align-items-center g-lg-5 py-5">

    <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" action="/Account/CustomerSubmit" method="post">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" name="userEmail" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" name="userPassword" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign In</button>
        </form>
            <hr class="my-4">
            <form action="/Home/CustomerRegister" method="post">
                <button type="submit" class="w-75 btn btn-outline-secondary btn-lg px-4">Register</button>
            </form>

        
    </div>
    <div class="col-lg-7 text-center text-lg-start">
        @*<h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Customer Login Page</h1>*@
        <h2>Your Trusted Financial Partner</h2>
        <p>
            Thank you for choosing ABC Bank! We are dedicated to providing you with excellent banking services and ensuring a seamless and secure experience for all your financial needs.
        </p>

        <h2>Key Features:</h2>
        <ul>
            <li>Easy and Secure Online Banking</li>
            <li>24/7 Access to Your Accounts</li>
            <li>Fast and Convenient Transactions</li>
            <li>Competitive Interest Rates</li>
        </ul>

        <h2>Explore Our Services:</h2>
        <p>
            Whether you're looking to manage your accounts, apply for loans, or explore investment opportunities, ABC Bank has a wide range of services to meet your financial goals.
        </p>
        <p class="col-lg-10 fs-4 text-center">If you are new, please <b>Register</b> before Signing in.</p>

    </div>
    <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" action="/Home/Goback">
        <button class="w-50 btn btn-lg btn-secondary" type="submit">Go Back Previous Page</button>
    </form>

</div>