@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Remove Beneficiary</h1>
<form action="/FundTransfer/SendMoney">

    <div class="form-group">
        <label>Beneficiary Name</label>
        <select id="BankTypeSelect" class="form-control">
            <option selected value="internal">Internal</option>
            <option value="external">External</option>
        </select>
    </div>



    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <button type="submit" class="btn btn-primary" onclick="myFunction()">Remove Beneficiary</button>
</form>

