
<body>

    <h2>Transaction History</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Transaction Date</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            @*<tr>
                <td>2024-01-18 19:25:45.360</td>
                <td>Cash</td>
                <td>£40</td>
                <td>£119.33</td>
            </tr>
            <tr>
                <td>2024-01-18 19:25:31.950</td>
                <td>Cheque</td>
                <td>£-20.67</td>
                <td>£79.33</td>
            </tr>
            <tr>
                <td>2024-01-18 19:25:19.520</td>
                <td>Cash</td>
                <td>£100</td>
                <td>£100</td>
            </tr>*@
            <!-- Add more rows as needed -->
        </tbody>
    </table>

</body>


@*<partial name="~/Views/Transaction/GetTransaction.cshtml" />*@